Source: python-cfclient
Section: python
Priority: optional
Maintainer: Dylan Maxwell <maxwelld@frib.msu.edu>
Build-Depends: debhelper (>= 9), dh-python,
 python-all, python-setuptools
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
Homepage: https://github.com/ChannelFinder
Vcs-Git: https://stash.nscl.msu.edu/scm/phyapp/python-cfclient.git
Vcs-Browser: https://stash.nscl.msu.edu/projects/PHYAPP/repos/python-cfclient

Package: python-cfclient
Architecture: all
Depends: python-requests (>= 2.4), ${python:Depends}, ${misc:Depends}
Description: Python wrapper for Channel Finder v3 REST API
 Python wrapper for Channel Finder v3 REST API with convenience methods
 for creating, editing and querying the Channel Finder service.
